body {
  background-color: cadetblue;
  background: linear-gradient(
      217deg,
      rgba(131, 78, 78, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(99, 131, 99, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.title {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.title h1 {
  color: bisque;
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
}
